<header>
  <h2 class="title">{{ title() }}</h2>
  <form [formGroup]="formGroup" class="form">
    <div class="filters">
      <div class="form-element">
        <label for="department">Отдел</label>
        <p-select
          formControlName="department"
          [options]="departments()"
          optionLabel="label"
          optionValue="id"
          placeholder="Выберите отдел"
          [showClear]="formGroup.get('department')?.value"
          inputId="department"
          size="small"
          class="input"
        />
      </div>
      <div class="form-element">
        <label for="budget">Бюджет</label>
        <p-select
          formControlName="budget"
          [options]="budgetTitles()"
          optionLabel="label"
          optionValue="id"
          placeholder="Выберите бюджет"
          inputId="account"
          size="small"
          class="input"
        />
      </div>
      <div class="bullet"><i class="pi pi-circle-fill blue-bullet"></i> План</div>
      <div class="bullet"><i class="pi pi-circle-fill black-bullet"></i> Факт</div>
    </div>
    <div class="buttons">
      <p-button
        (onClick)="saveToExcel.emit()"
        label="Скачать в Excel"
        type="button"
        severity="secondary"
        icon="pi pi-save"
        [outlined]="true"
      />
      <p-fileupload
        chooseLabel="Загрузить из Excel"
        mode="basic"
        accept=".xlsx"
        maxFileSize="1000000"
        [auto]="true"
        (onSelect)="getFromExcel.emit($event)"
      />
      <p-button
        (click)="deleteBudget.emit(formGroup.get('budget')?.value)"
        [text]="true"
        icon="pi pi-trash"
        severity="secondary"
      />
    </div>
  </form>
</header>
