<p-toast #toast />
<app-budgets-header
  title="Инвестиции"
  [departments]="departmentLabels()"
  [budgetTitles]="budgetLabels()"
  [bidgetId]="budgetId"
  (budgetChanged)="budgetChanged($event)"
  (departmentChanged)="departmentChanged($event)"
  (deleteBudget)="deleteBudget($event)"
  (createNewBudget)="createNewBudget($event)"
  (saveToExcel)="saveToExcel()"
  (getFromExcel)="getFromExcel($event)"
></app-budgets-header>
<app-table-budgets
  [budget]="budget()"
  [budgetType]="BudgetTypes.CAPEX"
  (saveBudget)="saveBudget($event)"
></app-table-budgets>
