<p-card>
  <p-table
    [value]="transactions()"
    [paginator]="true"
    [rows]="30"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '100%' }"
    styleClass="p-datatable-lg"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="max-width:96px">Дата</th>
        <th style="max-width:62px">Тип</th>
        <th style="max-width:130px">Сумма</th>
        <th style="min-width:200px">Контрагент</th>
        <th style="min-width:400px;max-width:400px">Описание</th>
        <th style="min-width:200px">Статья</th>
        <th style="min-width:200px">Счет</th>
        <th style="max-width:62px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td style="max-width:96px">{{ transaction.paymentDate | date : 'dd.MM.YY' }}</td>
        <td style="max-width:62px;text-align:center">
          @if (transaction.type === TransactionTypes.INCOME) {
            <i class="pi pi-plus"></i>
          } @else {
            <i class="pi pi-minus"></i>
          }
        <td style="max-width:130px">{{ transaction.sum | currency: 'RUB' : 'symbol' : '4.2-2' : 'ru' }}</td>
        <td style="min-width:200px">
          <div class="multi-cell">
            <span><strong>{{ transaction.counterparty.name.toUpperCase() }}</strong></span>
            <span>ИНН: {{ transaction.counterparty.inn }}</span>
          </div>
        </td>
        <td style="min-width:400px;max-width:400px">{{ transaction.description }}</td>
        <td style="min-width:200px">
          <div class="multi-cell">
          <span>
            <strong>{{ transaction.budget.type | budgetTypeToTitle }}</strong>
          </span>
            <span>{{ transaction.budget.item }}</span>
          </div>
        </td>
        <td style="min-width:200px">
          <div class="multi-cell">
          <span>
            <strong>{{ transaction.account.type === AccountTypes.BANK ? 'Банковский' : 'Наличные' }}</strong>
          </span>
            <span>{{ transaction.account.name }}</span>
          </div>
        </td>
        <td style="max-width:62px;text-align:center">
          <p-button
            (click)="delete.emit(transaction.id)"
            [text]="true"
            icon="pi pi-trash"
            severity="secondary"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
