<app-transaction-header
  [departments]="departmentLabels()"
  [accounts]="accounts"
  (departmentChanged)="departmentChanged($event)"
  (accountChanged)="accountChanged($event)"
  (createTransaction)="openTransactionForm($event)"
></app-transaction-header>
<app-table-transactions
  [transactions]="transactions()"
  (delete)="deleteTransaction($event)"
></app-table-transactions>
@if (isFormOpened) {
  <app-form-transactions
    [type]="type"
    [account]="accountId"
    [budgetTypes]="budgetTypes"
    [budgetItems]="budgetItems"
    [accounts]="accounts"
    [counterparties]="counterparties"
    (budgetTypeChanged)="budgetTypeChanged($event)"
    (formSubmitted)="createTransaction($event)"
    (close)="closeTransactionForm()"
  ></app-form-transactions>
}
