<p-toast #toast />
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <p-card header="Вход в систему" [style]="{ width: '360px' }">
    <div class="field">
      <label for="email">Email</label>
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full"
        name="email"
        placeholder="Введите email"
      />
      @if(email.invalid && (email.dirty || email.touched)) {
        <small class="block p-error" >
          @if(email.errors?.['required']) {
            <div>Поле не может быть пустым</div>
          }
          @if(email.errors?.['email']) {
            <div>Вы ввели неверный email</div>
          }
        </small>
      }

    </div>
    <div class="field">
      <label for="password">Password</label>
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full"
        name="password"
        placeholder="Введите пароль"
      />
      @if(password.invalid && (password.dirty || password.touched)) {
        <small class="block p-error" >
          @if(email.errors?.['required']) {
            <div>Поле не может быть пустым</div>
          }
        </small>
      }
    </div>
    <p-button
      class="button"
      label="Войти"
      styleClass="w-full"
      [disabled]="loginForm.invalid"
      type="submit"
    ></p-button>
  </p-card>
</form>
