:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;

  .field {
    margin-top: 16px;
  }

  .button {
    display: inline-block;
    margin-top: 16px;

    ::ng-deep .p-button {
      width: 120px;
    }
  }
}
