.form-element {
  display: flex;
  flex-direction: column;

  label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
  }
}

.input {
  min-width: 242px;
  background: rgb(194, 201, 209, 0.25);
  border: 1px solid rgb(194, 201, 209, 0.25);
  border-radius: 8px;
}

.p-button-sm {
  width: 100%;
}

.p-inputtext {
  background: inherit;
  border: inherit;
  width: 100%;
}
