.form-element {
  display: flex;
  flex-direction: column;

  label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 7px;
  }
}

.input {
  min-width: 242px;
  max-width: 242px;
  background: rgb(194, 201, 209, 0.25);
  border-radius: 8px;
}

.skeleton {
  display: flex;
  align-items: center;
  gap: 16px;
}

.skeleton-up {
  margin-top: 16px;
}

.flex-grow {
  flex-grow: 1;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.p-button-sm {
  width: 100%;
}

.p-inputtext {
  background: inherit;
  border: inherit;
  width: 100%;
}

.p-datepicker,
.p-treeselect {
  width: 100%;
}
