:host {
  .title {
    margin-bottom: 30px;
  }
  .access-list {
    margin-top: 16px;
  }
  .fallback {
    margin-top: 50px;
  }
  .skeletons {
    max-width: 1135px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
  }
}
