@import "primeicons/primeicons.css";
@import "app/shared/styles/common.scss";

body {
  font-family: Inter, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}
app-root {
  display: flex;
  height: 100%;
  overflow: hidden;
}
h1, h2, h3, h4, p {
  margin: 0;
}
