@import "primeicons/primeicons.css";

body {
  font-family: Inter, sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}
app-root {
  display: flex;
  height: 100%;
}
main {
  flex-grow: 1;
}
p {
  margin: 0;
}
